<library path="src">
  <class name="Speedometer" type="rqt_gauges_2.speedometer.Speedometer" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Visualization tool to keep track of the values of sensors
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Speedometer</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>Gauges visualization tool.</statustip>
    </qtgui>
  </class>
</library>
