<library path="src">
  <class name="Speedometer" type="rqt_gauges.speedometer.Speedometer" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Visualization tool that shows the "speed" according to a topic.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Speedometer</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>Gauges visualization tool.</statustip>
    </qtgui>
  </class>
  <class name="SteeringWheel" type="rqt_gauges.steering_wheel.SteeringWheel" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Visualization tool to keep track of the steering angle.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Steering Wheel</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>Gauges visualization tool.</statustip>
    </qtgui>
  </class>
  <class name="ThrottleBrakePedals" type="rqt_gauges.throttle_brake_pedals.ThrottleBrakePedals" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Visualization tool that shows how much of the throttle and brake pedals are being pressed (0-1).
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Throttle and Brake Pedals</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>Gauges visualization tool.</statustip>
    </qtgui>
  </class>
</library>
